

   /* contenu principal */  


   .form-container1 {
    max-width: 100%;
    width: 397px;
    border: 3px solid #F29C38;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
    /* position: relative; */
    /* left: 23px; */
    /* top: -35px; */
    min-height: 147px;
    padding: 23px;
    margin: 0 auto; /* centrer horizontalement */
}

.hero .title-email {
  color: #f29c38;
  margin-top: -95px;
  text-align: center;
  margin-bottom: 20px;
}

.form-row label {
  font-size: 1.2rem;
  color: var(--text-color);
  width: 100%;
  text-align: right;
}
.form-row input[type="email"], 
.form-row input[type="password"], 
.form-row input[type="text"], 
.form-row select {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #F29C38;
  border-radius: 5px;

}


   /* responsive desktop   */

@media (min-width: 993px) {

  .form-container {
    max-width: 40%;
    margin: 103px auto;
    padding: 50px;
    border: 4px solid #F29C38;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
    position: relative;
    left: 91px;
  }


}

    /* responsive tablette   */
 
@media (min-width: 768px) and (max-width: 992px) {

  .form-container {
    max-width: 55%;
    padding: 50px;
    border: 4px solid #F29C38;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
    left: 0px;
}
.form-row label {
  font-size: 1rem;
  color: var(--text-color);
  width: 50%;
  text-align: right;
}
.form-row input[type="email"], .form-row input[type="password"], .form-row input[type="text"], .form-row select {
  width: 84%;
  padding: 5px;
  border: 1px solid #F29C38;
  border-radius: 5px;

}


}

    /* responsive mobile   */

@media (max-width: 767px) {
  .form-container {
    max-width: 50%;
    border: 4px solid #F29C38;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
    top: 18px;
    left: 0px;
    min-height: 139px;
    max-height: 171px;
}
.form-row label {
  font-size: 1rem;
  color: var(--text-color);
  width: 40%;
  text-align: right;
}

.form-row input[type="email"], .form-row input[type="password"], .form-row input[type="text"], .form-row select {
  width: 64%;
  padding: 5px;
  border: 1px solid #F29C38;
  border-radius: 5px;

}



}
