.form-container {
    max-width: 45%;
    margin: 103px auto;
    padding: 50px;
    border: 4px solid #F29C38;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
    position: relative;
    left: 109px;
}

.hero h1 {
    color: #f29c38;
    font-size: 29px;
    margin-top: 10px;
    left: 0px;
    position: relative;
    top: 92px;
}


.form-row label {
    font-size: 1.3rem;
    color: #05204A;
    width: 100%;
    text-align: left;
}

.form-row input[type="email"], .form-row input[type="password"], .form-row input[type="text"], .form-row select {
    width: 132%;
    padding: 5px;
    border: 1px solid #F29C38;
    border-radius: 5px;
    box-sizing: border-box;
}


/* responsive  Tablellete */
  
@media (min-width: 769px) and (max-width: 992px) {
    .form-container {
        max-width: 45%;
        margin: 103px auto;
        padding: 50px;
        border: 4px solid #F29C38;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Roboto, sans-serif;
        position: relative;
        left: 0px;
    }
    .form-row label {
        font-size: 1rem;
        color: #05204A;
        width: 157%;
        text-align: left;
    }
    .hero h1 {
        color: #f29c38;
        font-size: 29px;
        margin-top: 10px;
        left: 0px;
        position: relative;
        top: 72px;
    }
}


 /* response  mobile    */   


 @media (max-width: 768px) {
    .form-container {
        max-width: 78%;
        margin: auto;
        padding: 27px;
        border: 4px solid #F29C38;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Roboto, sans-serif;
        left: 0px;
        top: 128px;
        max-height: 216px;
        min-height: 174px;
    }
    .hero h1 {
        color: #f29c38;
        font-size: 29px;
        margin-top: 48px;
        left: 0px;
        position: relative;
        top: 92px;
    }
    .form-row label {
        font-size: 0.8rem;
        color: #05204A;
         width: 150%; 
        text-align: left;
    }
    .form-row select {
        width: 70%;
        padding: 5px;
        border: 1px solid #F29C38;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="checkbox"] {
        width: 10px;
        height: 10px;
        margin: 0;
        position: relative;
        top: 0px;
        margin-right: 113px;
    }
 }